* {
    color: black;
}

h1, h2, h3, button {
    font-weight: bold;
}

li {
    margin-left: 2%;
}

.container-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1%;
}

.container-guide {
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.container-guide h3, li {
    color: white;
}
