<div class="container-fluid no-gutters container-divider secondary-double">
    <span>Fun fact: Zambia (country in Africa) was a participant in the Space Race. Their biggest achievement was launching a rocket made by 17-19 year old engineers to 20 meters.</span>
</div>

<div class="container-fluid no-gutters container-guide primary">
    <div class="row">
        <div class="col">
            <h3>Steps to setting up the script</h3>
            <ol>
                <li>Opening this website. (Done!)</li>
                <li>Authorize yourself.</li>
                <li>Filling out the inputs.</li>
                <li>Click the button and done.</li>
            </ol>
        </div>
        <div class="col">
            <h3>Press the button to authorize.</h3>
            <button type="button" class="btn secondary-double">Authorize</button>
        </div>
    </div>
</div>
