/* You can add global styles to this file, and also import other style files */

/* Colors */
.primary {
    background-color: rgb(19, 19, 19);
}

.secondary-1 {
    background-color: deepskyblue;
}

.secondary-2 {
    background-color: deeppink;
}